<div class="user-details">
    <mat-list>
        <mat-list-item class="u-text-align-center">
            <span class="mat-headline-medium ">Detalhes do Usuário</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-headline-small">Nome: </span>
            <span class="mat-headline-small">Fulano da silva</span></mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-small">Email: </span>
            <span class="mat-headline-small">joãosilva&#64;exemp.com</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-small">Telefone: </span>
            <span class="mat-headline-small">(11) 91234-5678</span></mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-small">Endereço: </span>
            <span class="mat-headline-small">Rua de Tal, num 11,São Paulo</span></mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-small">Ativo: </span>
            <span class="mat-headline-small">Não</span></mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-small">Função: </span>
            <span class="mat-headline-small">Desemvolvedor</span></mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-small">Data de Cadastro: </span>
            <span class="mat-headline-small">20/08/2023</span></mat-list-item>
        <mat-divider></mat-divider>

    </mat-list>
</div>