<div class="container">
    <div class="left-container">
        <div class="top-div">   <!-- conteúdo da div superior -->
          <app-filter ></app-filter>
        </div>
        <div class="main-left-div"> <!-- conteúdo da div esquerda -->
            <app-user-list (userSelected)="onUserSelected($event)"></app-user-list>
        </div>
    </div>
    <div class="right-div"> <!-- conteúdo da div direita -->
        <app-user-details [user]="userSelected"
        *ngIf="showDetails"
        >
        </app-user-details>
    </div>
    

</div>